*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    /* border: 1px dotted red; */
}

.wrapper {
    margin: 0px auto;
    width: 970px; 
    padding: 10px;
    background-color: #062134;     
}

a {    
    text-decoration: none;
}

/* Nav Bar */

.navbar {
    display: flex;
    background-color: #062134;
    color: white;
    height: 60px;
    width: 970px;
}

.navbar h2 {
    color: #1993e0;
    display: inline-block;
    width: 30%;
    padding: 15px;
}

.navbar ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 100px;
}

.navbar ul li {
    display: inline;
    color: #376f97;
    padding: 20px;
}

.navbar a {
    color: white;
}

.main {
    padding: 15px 15px 0px;
    vertical-align: top;
    background-color: white;
}
/* Top Content */
.top_content img {    
    width: 935px;
    margin: 0px;
}

/* Main body */
.main .block.space {
    margin-right: 15px;
}

.block {
    width:277px;
	height: 200px;
    padding: 10px;
    margin-top: 15px;
	display : inline-block;
	background-color: #1468a8;
    color: white;
    vertical-align: top;
    font-size: 12px;
}

.block img.icon {
    height: 40px;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    border-radius: 50%;
    border: 0px;
}

.block h3 {
    display: inline-block;
    font-size: 24px;
    padding-top: 5px;
    vertical-align: center;
    color: white;
}

.block.up p{
    padding: 10px;
    min-height: 95px;
}

.block.lw {
    width: 297px;    
    background-color: white;
    color: black;
    padding: 10px 0px 15px 0px;
}

.block.lw img {
    width: 297px;    
}

.block.lw h3 {
    color: black;
    font-size: 22px;
    padding-bottom: 10px;
}

.block.lw p {
    padding: 0px;
}

.block.lw a{
    font-size: 15px;
}

.speech {    
    font-style: italic;
    font-size: 15px;
    padding: 15px 15px 30px 15px;
    background-color: #daedff;
}

.blu2{
    background-color:white;
    
}

.arrow-down {
    width: 0; 
    height: 0; 
    margin-left: 20px;;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-top: 10px solid #daedff;
}

.block.lw.speech.arrow-down p{
    min-height: 10px;
    background-color: white;
}
.btn {
    display: inline-block;
    vertical-align: bottom;
    padding: 10px 40px;
    font-size: 15px;    
    border-radius: 5px;;
    background: rgb(80,177,237);
    background: linear-gradient(180deg, rgba(80,177,237,1) 50%, rgba(25,146,222,1) 50%);
}

.btn a {
    color: white;
}

.block.up a:visited {
    color: white;
}

/* Footer */
.footer{
	width:970px;
	height:50px;
    background-color: rgb(218, 237, 255);
    color:rgb(74, 164, 228)
}
.footer a{
	margin:auto;
	width: 240px;
    color: rgb(36, 77, 107);
}
.footer ul {
	width: 420px;
    height: 50px;
    display: flex;
	margin:auto;
    
}
.footer ul li {
	display:inline;
    padding: 15px;
}